main {
    display: flex;
    flex-direction: column;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    list-style-type: none;
}

#answer-list {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px 0px;
    padding: 5px 10px;
}

.options {
    width: 400px;
    text-align: left;
}

button:hover {
    background-color: purple;
    color: azure;
}

#answer {
    font-weight: bold;
    display: none;
}

.hidden {
    display: none;
}

#quiz-container, #input-score, #highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    margin: 0px 30%;
}
